:host {
  display: inline-block;
  width: 100%;
  height: 100%;
}

button {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border:0;
  background-color: white;
  box-shadow: 0 0 1rem  black;
  outline: none;
  color: transparent;
}

:host([state="flagged"]) > button, :host([state="hidden"]) > button {
  background-color: silver;
}

button:focus-visible {
  box-shadow: 0 0 1rem gold;
  outline: none;
}

:host([state="mine"]) > button {
  background-image: url(./mine.svg);
}

:host([state="flagged"]) > button {
  background-image: url(./flag.svg);
}

scalable-text {
  display: none;
  width: 100%;
  height: 100%;
}

:host([state="clear"]) scalable-text {
  display: inline-block;
}

:host([neighbours="1"]) > button {
  color: #208000;
}

:host([neighbours="2"]) > button {
  color: #407000;
}

:host([neighbours="3"]) > button {
  color: #606000;
}

:host([neighbours="4"]) > button {
  color: #805000;
}

:host([neighbours="5"]) > button {
  color: #a04000;
}

:host([neighbours="6"]) > button {
  color: #c03000;
}

:host([neighbours="7"]) > button {
  color: #e02000;
}

:host([neighbours="8"]) > button {
  color: #ff1000;
}
